<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post"> 
        <input type="text" name="username" id="username" placeholder="Pseudo">
        <input type="password" name="password" id="password" placeholder="Mot de passe">
        <input type="submit" value="Créer votre compte">
    </form>
</body>
</html>